VITE_OIDC_REDIRECT_URI=http://localhost:5173/auth-callback
VITE_OIDC_CLIENT_ID=<OAuth client id>
VITE_API_URL=http://localhost:8000/api
VITE_API_HOST=http://localhost:8000
VITE_API_GET_TOKEN_PATH=/login/callback